
<div class="container-fluid pad" data-ng-controller="app.controllers.MetadataDefinitionController">
    <form class="form-horizontal" role="form">

        <div class="form- button-row">
            <div class="page-header pull-left">
                <h1>{{title}}</h1>
            </div>
            <div class="sectionHeader pull-right">
                <a href="#/metadatadefinitionsedit" class="cancel-link pull-right">New</a>
            </div>
            <input type="text" style="width:100%" placeholder="Search" ng-model="q" ng-trim="false">
        </div>
    <div class="clearfix"></div>
        <div class="row">
            <div ng-if="definitions && definitions.length > 0" ng-grid="gridOptions" style="height: 400px"></div>
            <h2 ng-if="definitions && definitions.length==0">No Results Found</h2>
        </div>
        <!-- /.row -->

    </form>
</div>
<!-- /.container-fluid -->