<h1>Definitions</h1>
<div class="container-fluid pad" data-ng-controller="app.controllers.MetadataDefinitionEditController as vm">
    <form class="form-horizontal" role="form">
        <h2 class="sectionHeader">
            {{title}}
        </h2>
        <input type="hidden" ng-model="vm.model.identity">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.model.name" class="form-control"  auto-focus >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
                <textarea ng-model="vm.model.description" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-8">
                <select class="form-control" id="datatypeSelect" ng-options="item.dataType for item in vm.datatypes"  ng-model="vm.selectedDataType" ng-change="vm.dataTypeSelected()">
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="vm.isSingleValue">
            <label class="col-sm-2 control-label">Regex</label>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.model.regex" class="form-control" placeholder="{{vm.getDefaultRegex()}}">
            </div>
        </div>

        <div class="form-group" ng-if="vm.selectedDataType">
            <label class="col-sm-2 control-label">{{vm.valueDisplay}}</label>
            <div class="col-sm-8">
                <div ng-repeat="field in vm.model.values track by $index"  ng-init="outerIndex = $index">
                    <input type="text" ng-if="vm.show($index)"  ng-model="vm.model.values[$index]" class="input-sm form-inline" auto-focus >
                    <span class="glyphicon glyphicon-remove form-inline" ng-if="!vm.isSingleValue" ng-click="vm.removeItem($index)" onclick="this.style.display = 'none'"></span>
                </div>
                <a class="btn btn-sm pull-left" ng-click="vm.addLine()" ng-if="!vm.isSingleValue" >Add</a>                
            </div>
        </div>

        <div class="form-group button-row">
            <div class="col-sm-offset-2 col-sm-10 ">
                <button type="button" ng-click="vm.save()" class="btn btn-warning">Save</button>
                <button type="button" ng-click="vm.doDelete()" class="btn btn-warning" ng-show="vm.editMode">Delete</button>
                <a href="#/metadatadefinitions" ng-click="cancel" class="cancel-link">Cancel</a>
            </div>
        </div>

    </form>
</div>
<!-- /.container-fluid -->