<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.1.2" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="OctoPack" version="3.0.31" targetFramework="net451" />
</packages>