@using Lacjam.WebClient
@{
    Layout = null;
}

<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>-- SMSF Minder --</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

        <meta name="description" content="smsf minder">
        <meta name="keywords" content="smsf minder">
        <meta name="author" content="http://cherrybytesoftware.com/">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
       
        <link href="content/css/plugins/summernote/summernote.css" rel="stylesheet">
        <link href="content/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

        <!-- Bootstrap and Fonts -->
        <link href="content/bootstrap/bootstrap.css" rel="stylesheet">

        <!-- Full Calendar -->
        <link href="content/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">

        <!-- Morris -->
        <link href="content/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

        <!-- Main Inspinia CSS files -->
        <link href="content/css/animate.css" rel="stylesheet">
        <link href="content/css/style.css" rel="stylesheet">

        <link href="/Content/dialogs.css" rel="stylesheet" />
  

        <!-- iCheck -->
        <link href="content/css/plugins/iCheck/custom.css" rel="stylesheet">



        <link href="/Content/toastr.css" rel="stylesheet" />
        <link href="/Content/app.css" rel="stylesheet" />
       

    </head>

    <body aurelia-app="app" es5>
        <div class="splash">
            <div class="message">smsf minder</div>
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <script src="scripts/core-js/client/core.js"></script>
        <script src="scripts/requirejs/require.js" data-main="main"></script>




    </body>
</html>



<!-- @System.Reflection.Assembly.GetAssembly(typeof (BundleConfig)).GetName().Version.ToString()  -->

