<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI" version="0.4" targetFramework="net451" />
  <package id="Angular.UI.Bootstrap" version="0.12.0" targetFramework="net451" />
  <package id="Angular.UI.UI-Router" version="0.2.12" targetFramework="net451" />
  <package id="angularjs" version="1.3.4" targetFramework="net451" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="2.2.4" targetFramework="net451" />
  <package id="angularLocalStorage.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net451" />
  <package id="angular-ui.TypeScript.DefinitelyTyped" version="0.9.2" targetFramework="net451" />
  <package id="angular-ui-bootstrap.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net451" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="bootstrap" version="3.0.0" targetFramework="net451" />
  <package id="bootstrap.datepicker.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net451" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" />
  <package id="BundleTransformer.CleanCss" version="1.8.30" targetFramework="net451" />
  <package id="BundleTransformer.Core" version="1.8.32" targetFramework="net45" />
  <package id="BundleTransformer.Less" version="1.8.33" targetFramework="net45" />
  <package id="BundleTransformer.TypeScript" version="1.8.32" targetFramework="net45" />
  <package id="BundleTransformer.UglifyJs" version="1.8.30" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net451" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.8.1" targetFramework="net451" />
  <package id="jasmine-js" version="1.3.1.1" targetFramework="net451" />
  <package id="JavaScriptEngineSwitcher.ConfigurationIntelliSense" version="1.1.3" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.Core" version="1.2.0" targetFramework="net451" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.2.1" targetFramework="net451" />
  <package id="jQuery" version="1.10.2" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.4.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.2.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net451" />
  <package id="ng-grid" version="2.0.12" targetFramework="net451" />
  <package id="ng-grid.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" />
  <package id="NHibernate" version="4.0.2.4000" targetFramework="net451" />
  <package id="Q" version="1.1.1" targetFramework="net451" />
  <package id="q.TypeScript.DefinitelyTyped" version="0.3.2" targetFramework="net451" />
  <package id="RequireJS" version="2.1.14" targetFramework="net451" />
  <package id="Respond" version="1.4.2" targetFramework="net451" />
  <package id="Select2.js" version="3.5.1" targetFramework="net451" />
  <package id="select2.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net451" />
  <package id="Spin.js" version="2.0.1" targetFramework="net451" />
  <package id="spin.TypeScript.DefinitelyTyped" version="0.1.3" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net451" />
  <package id="toastr" version="2.1.0" targetFramework="net451" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net451" />
  <package id="Twitter.Bootstrap.Less" version="3.1.1" targetFramework="net451" />
  <package id="TypeLite" version="0.9.3.0" targetFramework="net451" />
  <package id="underscore.js" version="1.7.0" targetFramework="net451" />
  <package id="underscore.string.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net451" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.4.9" targetFramework="net451" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.0.1" targetFramework="net451" />
</packages>