<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.10.1" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="0.9.6" targetFramework="net45" />
  <package id="bootstrap.datepicker.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net45" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net45" />
  <package id="breeze.TypeScript.DefinitelyTyped" version="0.2.4" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net451" />
  <package id="FontAwesome" version="4.0.3.1" targetFramework="net45" />
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.5" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Moment.js" version="2.5.1" targetFramework="net45" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.2.1" targetFramework="net45" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Windsor" version="0.22.2" targetFramework="net451" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.OData" version="1.1.0" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net451" />
  <package id="NServiceBus" version="4.6.1" targetFramework="net451" />
  <package id="NServiceBus.Interfaces" version="4.6.1" targetFramework="net451" />
  <package id="Q.TypeScript.DefinitelyTyped" version="0.2.6" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="net45" />
  <package id="Spin.js" version="2.0" targetFramework="net45" />
  <package id="spin.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net45" />
  <package id="toastr" version="2.0.1" targetFramework="net45" />
  <package id="Twitter.Bootstrap.Less" version="3.1.1" targetFramework="net45" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.3.7" targetFramework="net45" />
</packages>