@using Lacjam.WebClient
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-framework="angularjs" lang="en" ng-app="publicApp">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lacjam">
    <meta name="keywords" content="Lacjam">
    <title>Lacjam</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">


    @System.Web.Optimization.Styles.Render("~/bundles/public/css")


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-cloak ng-controller="publicApp.controllers.SearchController">
    <!--[if lte IE 8]>
      <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
          document.createElement('delayedSearch');
          document.createElement('st-date-picker');
          document.createElement('st-error-span');
          document.createElement('file-uploader');
      </script>
    <![endif]-->

    <section class="unselected">
        <h1>Add Detail</h1>
        <input type="text" class="input-filter" placeholder="Filter" value="velit" ng-model="q" ng-trim="false">        <ul class="collection">
            <li ng-repeat="result in searchResults | filter:isNotSelected">
                <h2>
                    <span ng-bind-html="result.text"></span>
                    <span class="subtitle" ng-bind-html="result.group"></span>
                </h2>
                <p ng-if="result.description" ng-bind-html="result.description"></p>
                <span class="tag" ng-repeat="tag in result.tags" ng-bind-html="tag"></span>
                <div class="options">
                    <button ng-click="select(result)"><i class="glyphicon glyphicon-ok"></i></button>
                </div>
            </li>        </ul>
    </section>
    <section class="selected">
        <h1>Details to use</h1>
        <ul class="collection">
            <li ng-repeat="result in selectedResults">
                <h2>
                    <span ng-bind-html="result.text"></span>
                    <span class="subtitle" ng-bind-html="result.group"></span>
                </h2>
                <p ng-if="result.description" ng-bind-html="result.description"></p>
                <span class="tag" ng-repeat="tag in result.tags" ng-bind-html="tag"></span>
                <div class="options">
                    <button ng-click="deselect(result)"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </li>        </ul>        <button class="btn btn-block">Submit</button>    </section>

    <div>
        <span id="spinner" data-cc-spinner="{radius:30, width:3, length: 10, radius: 9, corners: 1, rotate: 29, speed: 1}" spinner-key="spinner" style="position: absolute; display: block; top: 50%; left: 50%;"></span>
    </div>
    
     <script src="/app/_References.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/ts")
</body>
</html>

<!-- @System.Reflection.Assembly.GetAssembly(typeof(BundleConfig)).GetName().Version.ToString()  -->