<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database"
      connectionString="data source=st-uitest.cloudapp.net;Initial Catalog=Lacjam;User Id=sa;Password=hcNRSrhAX9Uq8mhvDZSy;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>