<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database"
        connectionString="data source=passport2.csae43ljslde.ap-southeast-2.rds.amazonaws.com;Initial Catalog=Lacjam;User Id=admin;Password=zK58%r680srJ-1P;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>