<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database"
      connectionString="data source=Lacjam.csae43ljslde.ap-southeast-2.rds.amazonaws.com;Initial Catalog=Lacjam;User Id=kitdev;Password=gowZQVGH7PWl2z5miobr;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>