<div class="container-fluid" data-ng-controller="app.controllers.MetadataDefinitionGroupController as vm" >
    <form class="form-horizontal" role="form">

        <div class="form-group button-row">
            <div class="page-header pull-left">
                <h1>{{title}}</h1>
            </div>
            <div class="sectionHeader pull-right">
                <a href="#/metadatadefinitiongroupsedit/" class="cancel-link pull-right">New</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th width="90%">Definition Group Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ng-repeat -->
                        <tr ng-repeat="group in vm.groups">
                            <td>{{group.name}}</td>
                            <td ng-click="vm.edit(group.identity)" ><span class="glyphicon glyphicon-edit">-</span></td>
                        </tr>
                        <!-- / ng-repeat -->
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.row -->

    </form>
</div>
<!-- /.container-fluid -->