<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net40" />
  <package id="Breeze.Server.ContextProvider" version="1.4.11" targetFramework="net451" />
  <package id="Breeze.Server.WebApi2" version="1.4.11" targetFramework="net451" />
  <package id="Linq2Rest" version="3.3.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net45" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.OData" version="1.1.0" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net451" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net451" />
  <package id="WebActivator" version="1.5.3" targetFramework="net451" />
</packages>