@using Lacjam.WebClient
<template>
    <section>
        <div class="footer">

            @if (HttpContext.Current.IsDebuggingEnabled)
            {
                <ul class="list-inline">
                    <li>{{footer.state.url}}</li>
                </ul>
            }

            <footer class="pull-right">
                <ul class="list-inline">
                    <li>&copy; smsf minder 2014</li>
                    <li><a href="/#/version">Version @System.Reflection.Assembly.GetAssembly(typeof (BundleConfig)).GetName().Version.ToString()</a></li>
                </ul>
            </footer>
        </div>
    </section>
</template>
