<template>
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul side-navigation class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="logo-element">
                        <img id="applogo" onclick="document.location.href ='/'" alt="smsf minder" width="110" height="69" />

                    </div>
                </li>
                <li>
                    <ul class="nav nav-second-level">
                        <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                            <a href.bind="row.href">${row.title}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="loader" if.bind="router.isNavigating">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>
        </div>
        <div class="page-host">
            <router-view></router-view>
        </div>

    </nav>
</template>